* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.blog_container {
    max-width: 664px;
}

.cabecera {
    background: #0af;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom: 5px solid rgb(167, 212, 238);
    box-shadow: 0px 2px 20px rgb(133, 133, 133);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cabecera_letters {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cabecera h1 {
    font-family: 'Pacifico', cursive;
    margin: 0 0 0 10px;
    color: rgb(0, 0, 0);
    font-size: 2.5em;
}

.cabecera h3 {
    margin: 0;
    color: #fff;
}

.cabecera img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.intro_container {
    margin: 20px;
    border: 2px solid #0af;
    padding: 0;
    border-radius: 20px;
}

.title {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
}

.title h1 {
    color: rgb(36, 119, 145);
    margin: 0;
    font-weight: 900;
}

p {
    color: rgb(0, 0, 0);
    margin: 20px;
}

.blog_footer {
    background: #0af;
    height: 40px;
    border-radius: 15px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_footer a {
    margin-left: 3px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.blog_footer a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 2px 6px;
}

.footer {
    margin-top: auto;
    width: 100%;
    height: 58px;
    background-color: #0af;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-top: 5px solid rgb(167, 212, 238);
    box-shadow: 0 -2px 20px rgb(133, 133, 133);
}

.footer p {
    color: #000;
    background: #ca0;
    margin: 0;
    padding: 10px 15px;
    border-radius: 100px;
    
}

.footer p:hover {
    color: rgb(255, 255, 255);
    background: rgba(204, 170, 0, 0.719);
    margin: 0;
    padding: 10px 15px;
    border-radius: 100px;
}
