* {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    background-color: #000;
    margin: 0;
}

.blog_container {
    max-width: 664px;
    margin: auto;
}

.cabecera {
    text-align: center;
    margin: 0;
    background: #0af;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: 0px 5px 0px rgb(167, 212, 238);
}

.cabecera h1 {
    font-family: 'Pacifico', cursive;
    margin: 0;
    color: rgb(0, 0, 0);
}

h3 {
    margin: 5px;
}

.intro_container {
    margin: 20px;
    border: 2px solid #0af;
    padding: 20px;
    border-radius: 20px;
}

.title {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.title h1 {
    color: rgb(36, 119, 145);
    margin: 0;
    font-weight: 900;
}

p {
    color: rgb(255, 255, 255)
}